@model GameViewModel

<section class="content" style="margin-top: 80px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">@Translate["AddingGame"]</h3>
                    </div>
                    <form enctype="multipart/form-data" asp-action="AddGame" asp-controller="Games" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>@Translate["GameName"]</label>
                                <input type="text" class="form-control" placeholder="@Translate["GameName"]" asp-for="Name">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" placeholder="Enter ..." asp-for="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <label>@Translate["Rating:"]</label>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <label class="btn btn-secondary">
                                                    <input type="radio" asp-for="Rating" value="@i"> @i
                                                </label>
                                            }
                                        </div>
                                    </div>
                                    <div>
                                        <label>@Translate["Difficulty:"]</label>
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            @for (int i = 1; i <= 10; i++)
                                            {
                                                <label class="btn btn-secondary">
                                                    <input type="radio" asp-for="Difficulty" value="@i"> @i
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>@Translate["AchievedTrophies"]</label>
                                <input type="text" class="form-control" placeholder="@Translate["AchievedTrophies"]" asp-for="Trophies">
                            </div>
                            <div class="form-group">
                                <label>@Translate["Trophies"]</label>
                                <input type="text" class="form-control" placeholder="@Translate["Trophies"]" asp-for="MaxTrophies">
                            </div>
                            <div class="form-group">
                                <label>Multiple Genre</label>
                                <select class="select2" multiple="multiple" id="genre" data-placeholder="Select a State" style="width: 100%;" asp-for="SelectedGameGenres" asp-items="Model.GameGenres">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Multiple Platform</label>
                                <select class="select2" multiple="multiple" id="platform" data-placeholder="Select a State" style="width: 100%;" asp-for="SelectedGamePlatforms" asp-items="Model.GamePlatforms">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" name="PhotoUpload" class="custom-file-input" id="exampleInputFile" asp-for="PhotoUpload">
                                    <label class="custom-file-label" for="exampleInputFile"></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-secondary">@Translate["AddGame"]</button>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
$(document).ready(function () {

    bsCustomFileInput.init();

    console.log(@Html.Raw(Json.Serialize(Model.GameGenres)));
    var gameGenreData = @Html.Raw(Json.Serialize(Model.GameGenres))
            .map(function (item) {
        return { id: item.value, text: item.text };
    });

    $('#genre').select2({
        placeholder: "Game genre",
        data: gameGenreData,
        minimumInputLength: 0,
        ajax: {
            url: '/Games/GetGenreDropdown',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    searchTerm: params.term
                };
            },
            processResults: function (data) {
                var results = data.results.slice(0, 5);
                return {
                    results: results
                };
            },
            cache: true
        }
    });

    $("#genre").val("").trigger("change");

    console.log(@Html.Raw(Json.Serialize(Model.GamePlatforms)));
    var gamePlatformData = @Html.Raw(Json.Serialize(Model.GamePlatforms))
            .map(function (item) {
        return { id: item.value, text: item.text };
    });

    $('#platform').select2({
        placeholder: "Game platform",
        data: gamePlatformData,
        minimumInputLength: 0,
        ajax: {
            url: '/Games/GetPlatformDropdown',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    searchTerm: params.term
                };
            },
            processResults: function (data) {
                var results = data.results.slice(0, 5);
                return {
                    results: results
                };
            },
            cache: true
        }
    });

    $("#platform").val("").trigger("change");
});
</script>

